.services {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 0;
    margin-top: -120px;
    padding-top: 120px;
    padding-bottom: 150px;
    border-bottom: #979797 1px solid;
    margin-bottom: 100px;
}

.sub-title {
    padding-bottom: 30px;
}

.title {
    padding-bottom: 30px;
}

.description {
    padding-bottom: 30px;
}

.comment-title {
    max-width: 474px;
    padding-top: 124px;
    padding-left: 40px;
    background-color: white;
    box-shadow: 4px 70px 140px rgba(0, 0, 0, 0.2);
}

.text-services {
    padding-top: 124px;
    max-width: 475px;
}


.link-text {
    max-width: 188px;
    font-weight: 400  ;
    font-size: 16px;
    line-height: 2px;
    color:   #D4D6D4;
    display: flex;
    align-items: center;
    

}
.link-text:hover {
    color: #FFD723;
    
}

.comment-text{
    font-style: italic;
    font-weight: 400  ;
    font-size: 24px;
    line-height: 40px;
    color:   #4D533C;
    margin-bottom: 70px;

}

.visitor-1 {
    width: 90px;
    height: 90px;
}

.comment-name {
    display: flex;
}

.name {
    font-weight: 700  ;
    font-size: 22px;
    line-height: 33px;
    color:   #4D533C;

}

.job {
    font-weight: 400  ;
    font-size: 16px;
    line-height: 24px;
    color:   #152934
}