.header {
    font-family: 'Poppins';
}

.background-img {
    width: 100%;
    height: 811px;
    background-image: url('../../assets/header.svg');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    
}

.tool-bar {
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 100%;
}

.btn-more {
    background-image: url('../../assets/btn-more.svg');
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    min-width: 40px;
}







